
.Loading {
    background-color: var(--displayName-background);

    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    height: 100vh;
}

.Loading > svg {
    
    text-align: center;
    width: 90px;
    height: 90px;
    color: #50b7f5;
}